/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
html{
    background-color: rgb(236, 236, 236)
}

.t-row:hover{
    background-color: rgb(206, 221, 235)
}

.mat-column-actions{
    width: 100px
}